server:
  port: 80

plugin:
  runMode: dev
  mainPackage: com.example.uking
  pluginPath:
    - ~/plugins


spring:
  application:
    name: Uking # 应用名称

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver  # 数据库驱动
    url: jdbc:mysql://localhost:3306/uking?serverTimezone=GMT%2B8  # 数据库连接地址
    # 数据库用户名&密码:
    username: root
    password: Uking
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      #初始化连接池的连接数量 大小，最小，最大
      initial-size: 5
      min-idle: 5
      max-active: 20
      #配置获取连接等待超时的时间
      max-wait: 60000
      #配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      time-between-eviction-runs-millis: 60000
      # 配置一个连接在池中最小生存的时间，单位是毫秒
      min-evictable-idle-time-millis: 30000
      validation-query: SELECT 1 FROM User
      test-while-idle: true
      test-on-borrow: true
      test-on-return: false
      # 是否缓存preparedStatement，也就是PSCache  官方建议MySQL下建议关闭   个人建议如果想用SQL防火墙 建议打开
      pool-prepared-statements: true
      max-pool-prepared-statement-per-connection-size: 20
      # 配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall用于防火墙
      filter:
        stat:
          merge-sql: true
          slow-sql-millis: 5000
      #3.基础监控配置
      web-stat-filter:
        enabled: true
        url-pattern: /*
        #设置不统计哪些URL
        exclusions: "*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*"
        session-stat-enable: true
        session-stat-max-count: 100
      stat-view-servlet:
        enabled: true
        # 数据监控访问路径
        url-pattern: /druid/*
        reset-enable: true
        #设置监控页面的登录名和密码
        login-username: admin
        login-password: admin
        allow: 127.0.0.1
        #deny: 192.168.1.100

      #thymeleaf:  # THYMELEAF (ThymeleafAutoConfiguration)
      #cache: false # 开启模板缓存（默认值： true ）
      #check-template: true  # 检查模板是否存在，然后再呈现
      #check-template-location: true # 检查模板位置是否正确（默认值 :true ）
      #servlet:
    #content-type: text/html #Content-Type 的值（默认值： text/html ）
    #enabled: true   # 开启 MVC Thymeleaf 视图解析（默认值： true ）
    #encoding: UTF-8 # 模板编码
    #excluded-view-names:    # 要被排除在解析之外的视图名称列表，⽤逗号分隔
    #mode: HTML5 # 要运⽤于模板之上的模板模式。另⻅ StandardTemplate-ModeHandlers( 默认值： HTML5)
    #prefix: file:Resources/templates/default/   # 在构建 URL 时添加到视图名称前的前缀（默认值： classpath:/templates/ ）
    #suffix: .html   # 在构建 URL 时添加到视图名称后的后缀（默认值： .html ）

    #mvc:
    #static-path-pattern: /Resources/templates/default/**

    #下面这些内容是为了让MyBatis映射
    #mybatis:
    #mapper-locations: classpath:mapper/*xml  #指定Mybatis的Mapper文件
    #type-aliases-package: com.mryunqi.uking.mybatis.bean  #指定Mybatis的实体目录

mybatis-plus:
  global-config:
    banner: false

jwt:
  # 密钥
  secret: UkingMryunqi434253
  # 有效期（秒）
  expire: 18000 #5小时

