<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.uking.mapper.UserMapper">

    <select id="getInfo_id" resultType="com.example.uking.bean.UserBean">
        SELECT * FROM User WHERE id = #{id}
    </select>
    <select id="getInfo_tel" resultType="map">
        SELECT  * FROM User WHERE tel = #{tel}
    </select>
    <select id="getUserNum" resultType="int">
        SELECT count(*) FROM User
    </select>
    <select id="selectUserPasswordByPhone" resultType="String">
        SELECT password FROM User WHERE tel = #{tel}
    </select>
    <insert id="addUser">
        INSERT INTO User(id,tel,password) VALUES (#{id},#{tel},#{password})
    </insert>

</mapper>
